@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
.header-top {
  display: flex;
  justify-content: flex-end;
  padding-right: 206px;
  height: 44px;
}

.header-bottom {
  background: #654321;
  height: 36px;
}
.log-in-button {
  background: none;
  border: none;
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: lighter;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.log-in-button:hover {
  color: #00d2be;
}
